@use "styles/variables.scss";

.favorites {
  width: 100%;
  max-width: variables.$max-width;
  height: fit-content;
  display: block;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 0.5rem;
    padding: 1rem;
    overflow: auto;

    &_active {
      cursor: grabbing;

      * {
        cursor: grabbing;
      }
    }

    &::-webkit-scrollbar {
      height: 1rem;
    }
  }

  &__character {
    border: solid 0.5rem variables.$main-color;
    border-radius: 50%;
    height: 10rem;
    overflow: hidden;
    width: 10rem;

    &_image {
      height: 100%;
      pointer-events: none;
      width: 100%;
    }
  }

  &__title {
    color: variables.$main-color;
    font-size: variables.$fz-lg;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  &__empty {
    color: variables.$secondary-text-color;
    font-size: variables.$fz-lg;
    text-align: center;
  }

  &__image {
    height: 5rem;
    width: 5rem;
    pointer-events: none;
  }
}